syntax: glob

.DS_Store

*.bak
*.orig
*~

build
obj
release
ipch
.codelite/
.cache/
src/scripts.c
**.lnt
**.vlstatus

Makefile
*.make
*.xcodeproj
*.xcworkspace
*.swp
*.sdf
*.sln
*.suo
*.ncb
*.vcproj*
*.vcxproj*
*.VC.opendb
*.VC.db
*.opensdf
*.workspace
*.tags
*.sublime-*
.cproject
.settings
.buildpath
*.vs
compile_commands.json
Sandbox.mk
Sandbox.txt
Engine.mk
Engine.txt

*.bbprojectsettings
Scratchpad.txt
Unix Worksheet.worksheet
project.bbprojectdata
Premake4.tmproj

imgui.ini
asset.db

vendor/imgui/
vendor/lua/